/* src/styles/produto.css */

.cartao-produto {
    display: flex;
    flex-direction: column;
    background-color: #1e293b; /* Cor de fundo */
    border-radius: 8px; /* Bordas arredondadas */
    padding: 16px; /* Espaçamento interno */
}

.preco {
    margin-top: 10px; /* Espaçamento acima do preço */
    font-size: 1.5rem; /* Tamanho da fonte */
    color: #ffffff; /* Cor do texto */
}

.botao-eu-quero {
    margin-top: 5px; /* Espaçamento acima do botão */
    padding: 10px; /* Espaçamento interno */
    background-color: #3b82f6; /* Cor de fundo do botão */
    border-radius: 20px; /* Bordas arredondadas */
    color: white; /* Cor do texto do botão */
    transition: background-color 0.3s; /* Transição suave */
}

.botao-eu-quero:hover {
    background-color: #1e40af; /* Cor de fundo ao passar o mouse */
}
